<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>

    <form action="{% url 'form:get_Name' %}" method="post">

        {% csrf_token %}

        {{ form }}
        <!--
        <label for="your_name">your name</label>
        <input type="text" id="your_name" name="your_name" value="{{ current_name }}">
        -->
        <br/>
        <input type="submit" value="Submit">
    </form>

</body>
</html>