{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'music/sample.jpg' %}"/>

<img src="album.album_logo">
<h2>{{ album.album_title }}</h2>

<h3>{{ album.artist }}</h3>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favourite' album.id %}" method="post">
{% csrf_token %}

    {% for song in album.song_set.all %}
        <input type="radio" name="song" id="song{{ forloop.counter }}" value="{{ song.id }}">

            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favourite %}
                    <img src="{% static 'music/sample.jpg' %}" height="13" width="13">
                {% endif %}
            </label><br/>

    {% endfor %}

    <input type="submit" value="favourite">

</form>