
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>

{% if album_list %}
 <h1>Album List</h1>
<ul>
    {% for album in album_list %}
        <li><a href="{% url 'music:detail' album.id %}">{{album.album_title}}</a> </li>
    {% endfor %}
</ul>
{% else %}
    <p>albums are not available</p>
{% endif %}